<%= form_for(personal_id) do |f| %>
  <% if personal_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_id.errors.count, "error") %> prohibited this personal_id from being saved:</h2>

      <ul>
      <% personal_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :dob %>
    <%= f.date_select :dob %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :phone_1 %>
    <%= f.text_field :phone_1 %>
  </div>

  <div class="field">
    <%= f.label :phone_2 %>
    <%= f.text_field :phone_2 %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :emer_contact_name %>
    <%= f.text_field :emer_contact_name %>
  </div>

  <div class="field">
    <%= f.label :emer_contact_no %>
    <%= f.text_field :emer_contact_no %>
  </div>

  <div class="field">
    <%= f.label :prim_phys_name %>
    <%= f.text_field :prim_phys_name %>
  </div>

  <div class="field">
    <%= f.label :prim_phys_no %>
    <%= f.text_field :prim_phys_no %>
  </div>

  <div class="field">
    <%= f.label :health_iss_name %>
    <%= f.text_field :health_iss_name %>
  </div>

  <div class="field">
    <%= f.label :health_iss_no %>
    <%= f.text_field :health_iss_no %>
  </div>

  <div class="field">
    <%= f.label :health_mem_id %>
    <%= f.text_field :health_mem_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
