<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_id.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @personal_id.dob %>
</p>

<p>
  <strong>Language:</strong>
  <%= @personal_id.language %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @personal_id.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @personal_id.phone_2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personal_id.email %>
</p>

<p>
  <strong>Emer contact name:</strong>
  <%= @personal_id.emer_contact_name %>
</p>

<p>
  <strong>Emer contact no:</strong>
  <%= @personal_id.emer_contact_no %>
</p>

<p>
  <strong>Prim phys name:</strong>
  <%= @personal_id.prim_phys_name %>
</p>

<p>
  <strong>Prim phys no:</strong>
  <%= @personal_id.prim_phys_no %>
</p>

<p>
  <strong>Health iss name:</strong>
  <%= @personal_id.health_iss_name %>
</p>

<p>
  <strong>Health iss no:</strong>
  <%= @personal_id.health_iss_no %>
</p>

<p>
  <strong>Health mem:</strong>
  <%= @personal_id.health_mem_id %>
</p>

<%= link_to 'Edit', edit_personal_id_path(@personal_id) %> |
<%= link_to 'Back', personal_ids_path %>
